<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      body {
        font-family: Arial, sans-serif;
      }
      .container {
        width: 80%;
        margin: 0 auto;
        padding: 20px;
      }
      .user-info {
        background-color: #F6EBDD;
        padding: 15px;
        border-radius: 5px;
        margin-top: 20px;
      }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Provo City's Social Media Usage and Mental Health Committee website provides a way for Provo City Council to gather data on mental health in relation to social media usage in Provo City.">
    <meta name="abstract" content="Provo City's Social Media Usage and Mental Health Committee website provides a way for Provo City Council to gather data on mental health in relation to social media usage in Provo City.">
    <meta name="geo.placename" content="Brigham Young University">
    <meta name="geo.region" content="'US-UT">
    <link rel="stylesheet" href="/styles.css">
    <!--favicon not working-->
    <link rel="icon" href="/static/images/favicon.png" type="image/x-icon">
    <title>SMU & MH - Account</title>
  </head>

<body>
  <%- include('components/navbar') %>
  <main>
    <div class="container">
      <h1>Account Information</h1>
    <% if (data) { %>
      <form id="accountForm" action="/update-account" method="POST">
        <div class="user-info">
          <h2>User Details</h2>
          <p>
            <strong>Username:</strong>
            <input type="username" id="usernameInput" name="username" value="<%= data.username %>" required >
          </p>
          <p>
            <strong>Email:</strong>
            <input type="email" id="emailInput" name="email" value="<%= data.email %>" required >
          </p>
          <p>
            <strong>First Name:</strong>
            <input type="text" id="firstnameInput" name="firstname" value="<%= data.firstname %>" required >
          </p>
          <p>
            <strong>Last Name:</strong>
            <input type="text" id="lastnameInput" name="lastname" value="<%= data.lastname %>" required >
          </p>
          <p>
            <strong>Update Password</strong>
            <input type="password" id="password" name="password" >
          </p>
          <button type="submit" id="saveButton" >Save</button>
        </div>
      </form>
    <% } else { %>
      <p>User information not available.</p>
    <% } %>
    </div>
    </div>
  </main>
  <%- include('components/footer') %>
</body>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var originalEmail = document.getElementById('emailInput').value;
    var originalFirstName = document.getElementById('firstnameInput').value;
    var originalLastName = document.getElementById('lastnameInput').value;
    var originalUsername = document.getElementById('usernameInput').value;


    document.getElementById('accountForm').addEventListener('submit', function(event) {
        var currentEmail = document.getElementById('emailInput').value;
        var currentFirstName = document.getElementById('firstnameInput').value;
        var currentLastName = document.getElementById('lastnameInput').value;
        var currentUsername = document.getElementById('usernameInput').value;
        var isPasswordUpdated = document.getElementById('password').value;

        if (originalUsername === currentUsername && originalEmail && currentFirstName === originalFirstName && currentLastName === originalLastName && isPasswordUpdated === '') {
            // No changes made, prevent form submission
            event.preventDefault();
            alert('No changes detected.');
        } 
    });

});
</script>
</html>
