<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Page</title>
  <link rel="stylesheet" href="/styles.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Provo City's Social Media Usage and Mental Health Committee website provides a way for Provo City Council to gather data on mental health in relation to social media usage in Provo City.">
  <meta name="abstract" content="Provo City's Social Media Usage and Mental Health Committee website provides a way for Provo City Council to gather data on mental health in relation to social media usage in Provo City.">
  <meta name="geo.placename" content="Brigham Young University">
  <meta name="geo.region" content="'US-UT">
  <link rel="stylesheet" href="/styles.css">
  <link rel="stylesheet" href="/admin.css">
  <!-- ag grid libs -->
  <link  type="text/css" href="https://unpkg.com/ag-grid-community/styles/ag-grid.css">
  <link  type="text/css" href="https://unpkg.com/ag-grid-community/styles/ag-theme-alpine.css">
  <link rel="icon" href="/static/images/favicon.png" type="image/x-icon">
</head>
<body>
  <% if (typeof query.status !== 'undefined' && query.status === 'created') { %>
    <div class="alert success">
      User successfully created!
    </div>
  <% } %>

  <header>
    <%- include('components/navbar') %>
  </header>
  <main>
    <div class="admin-main-flex">
      <div class="admin-child-one">
        <h2>Create a New User</h2>
        <form action="/create" method="POST" id="createUserForm" class="create-user-form">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" required minlength="3" maxlength="20" placeholder="Enter username">
            <span id="usernameError" class="error"></span>
            
            <label for="firstname">First Name</label>
            <input type="text" id="firstname" name="firstname" required placeholder="Enter first name">
            
            <label for="lastname">Last Name</label>
            <input type="text" id="lastname" name="lastname" required placeholder="Enter last name">
            
            <label for="email">Email</label>
            <input type="email" id="email" name="email" required placeholder="Enter email">
            <span id="emailError" class="error"></span>
            
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required minlength="5" placeholder="Enter password">
            <span id="passwordError" class="error"></span>
            
            <button type="submit">Create User</button>
        </form>
        
      </div>
      <div class="admin-child-two">
        <h2>User Management</h2>
        <div id="userDataGrid" style="width: 100%; height: 600px;" class="ag-theme-alpine"></div>
      </div>
    </div>
    <div class="forelley">
      <div class="survey-data-flex">
        <div class="number-wrapper">
          <div class="number"><%= allSurvey.length %></div>
          <div class="text">All Time</div>
        </div>
        <div class="number-wrapper">
          <div class="number"><%= sevenSurvey.length %></div>
          <div class="text">Last 7 Days</div>
        </div>
        <div class="number-wrapper">
          <div class="number"><%= daySurvey.length %></div>
          <div class="text">Last 24 Hours</div>
        </div>
      </div>
    </div>
    <div class="one-item-center-flex">
      <a href="/data">
        <div class="flex-wrapper-for-data">
          <p>View Respondent Data</p>
        </div>
      </a>
    </div>
    <div class="tableau">
      <div class='tableauPlaceholder' id='viz1701896203626' style='position: center'><noscript><a href='#'><img alt='Dashboard 1 ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;WH&#47;WHP3JGG5Z&#47;1_rss.png' style='border: 2px, solid, black' /></a></noscript><object class='tableauViz'  style='display:flex;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='path' value='shared&#47;WHP3JGG5Z' /> <param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;WH&#47;WHP3JGG5Z&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='language' value='en-US' /><param name='filter' value='publish=yes' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('viz1701896203626');                    var vizElement = divElement.getElementsByTagName('object')[0];                    if ( divElement.offsetWidth > 800 ) { vizElement.style.width='1000px';vizElement.style.height='827px';} else if ( divElement.offsetWidth > 500 ) { vizElement.style.width='1000px';vizElement.style.height='827px';} else { vizElement.style.width='100%';vizElement.style.height='1577px';}                     var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
    </div> 
  </main>
  <%- include('components/footer') %>
</body>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/ag-grid-community/dist/ag-grid-community.min.js"></script>
<script>
  // Ag-grid setup for user table
  var defaultGridOptions = {
    rowHeight: 35,
    headerHeight: 40,
    rowSelection: 'single',
    enableSorting: true,
    enableFilter: true,
    suppressMenuHide: true,
  };
  var userDataRowData = <%- JSON.stringify(data) %>;
var gridOptions = {
    columnDefs: [
    { headerName: "User ID", field: "id", filter: true },
    { headerName: "Username", field: "username", filter: true },
    { headerName: "First Name", field: "firstname", filter: true },
    { headerName: "Last Name", field: "lastname", filter: true },
    { headerName: "Email", field: "email", filter: true },
    { headerName: "Actions", field: "actions", filter: false, cellRenderer: (params) => {
        return `
            <a href="/edituser/${params.data.id}">🖉</a>
            <a href="/deleteuser/${params.data.id}" onclick="return confirm('Are you sure you want to delete this user?');">🗑️</a>
        `;
    }}
  ],
    rowData: userDataRowData,
    defaultColDef: defaultGridOptions,
    pagination: true,
    paginationPageSize: 20,
    domLayout: 'autoHeight',
    suppressNoRowsOverlay: true,
    suppressCellSelection: true,
    suppressContextMenu: true,
    animateRows: true,
    onRowDoubleClicked: function(event) {
      var userId = event.data.id; // Adjust field name if necessary
      window.location.href = '/data/' + userId;
  }
};

let userGridDiv = document.getElementById('userDataGrid');
new agGrid.Grid(userGridDiv, gridOptions);


  // client side validation/preemptive sanitization of inputs
  document.addEventListener('DOMContentLoaded', function() {
    var form = document.getElementById('createUserForm');
    form.addEventListener('submit', function(event) {
    var username = document.getElementById('username');
    var usernameError = document.getElementById('usernameError');

    // Validation for username
    if (username.value.length < 3) {
      usernameError.textContent = 'Username must be at least 3 characters long.';
      event.preventDefault();
    } else {
      usernameError.textContent = '';
    }

    // Validation for First Name
    var firstname = document.getElementById('firstname');
    var firstnameError = document.getElementById('firstnameError');

    if (!firstname.value.match(/^[a-zA-Z]+$/)) {
      firstnameError.textContent = 'First name should only contain letters.';
      event.preventDefault();
    } else {
      firstnameError.textContent = '';
    }

    // Validation for Last Name
    var lastname = document.getElementById('lastname');
    var lastnameError = document.getElementById('lastnameError');

    if (!lastname.value.match(/^[a-zA-Z]+$/)) {
      lastnameError.textContent = 'Last name should only contain letters.';
      event.preventDefault();
    } else {
      lastnameError.textContent = '';
    }

    // Validation for Password
    var password = document.getElementById('password');
    var passwordError = document.getElementById('passwordError');

    if (password.value.length < 6) {
      passwordError.textContent = 'Password must be at least 6 characters long.';
      event.preventDefault();
    } else {
    passwordError.textContent = '';
    }
    var email = document.getElementById('email').value;
    var emailError = document.getElementById('emailError');
    
    // Regular expression for basic email validation
    var emailRegex = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,6}$/;
    
    if (!emailRegex.test(email)) {
        emailError.textContent = 'Please enter a valid email address.';
        event.preventDefault(); // Prevent form submission
    } else {
        emailError.textContent = ''; // Clear any error message
    }
  })
   
});
</script>
</html>
