<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Provo City's Social Media Usage and Mental Health Committee website provides a way for Provo City Council to gather data on mental health in relation to social media usage in Provo City.">
    <meta name="abstract" content="Provo City's Social Media Usage and Mental Health Committee website provides a way for Provo City Council to gather data on mental health in relation to social media usage in Provo City.">
    <meta name="geo.placename" content="Brigham Young University">
    <meta name="geo.region" content="'US-UT">
    <link rel="stylesheet" href="/styles.css">
    <!--favicon not working-->
    <link rel="icon" href="/static/images/favicon.png" type="image/x-icon">
    <title>SMU & MH - Data</title>
  </head>
<body>
  <nav>
    <div class="menu">
      <ul>
        <li><a class="provo" href="https://www.provo.org/government"><img src='images/provologo.png'></a></li>
        <div class="separator"></div>
        <li><a class="navlogo" href="#"><img src='images/navlogo.png'></a></li>
        <li><a class="link" href="/about">About</a></li>
        <li><a class="link" href="/learn">Learn</a></li>
        <li><a class="link" href="/resources">Resources</a></li>
        <li><a class="link" href="/survey">Survey</a></li>
        <% if (user_id) { %>
          <li><a class="link" href="/account">Account</a></li>
          <li><a class="link" href="/survey-data">Data</a></li>
        <% } else { %>
          <li><a class="link" href="/login">Login</a></li>
        <% } %>
      </ul>
    </div>
  </nav>
    <table>
        <thead>
          <tr>
            <th>Question</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Q9</td>
            <td>How often do you use social media without purpose?</td>
          </tr>
          <tr>
            <td>Q10</td>
            <td>How often are you distracted by social media while busy?</td>
          </tr>
          <tr>
            <td>Q11</td>
            <td>Do you feel restless when you don’t use social media?</td>
          </tr>
          <tr>
            <td>Q12</td>
            <td>Are you easily distracted?</td>
          </tr>
          <tr>
            <td>Q13</td>
            <td>Are you bothered by your worries?</td>
          </tr>
          <tr>
            <td>Q14</td>
            <td>Is it difficult for you to concentrate?</td>
          </tr>
          <tr>
            <td>Q15</td>
            <td>How often do you compare yourself to successful people on social media?</td>
          </tr>
          <tr>
            <td>Q16</td>
            <td>How do you feel about the comparisons from Q15?</td>
          </tr>
          <tr>
            <td>Q17</td>
            <td>How often do you seek validation from social media?</td>
          </tr>
          <tr>
            <td>Q18</td>
            <td>How often do you feel depressed or down?</td>
          </tr>
          <tr>
            <td>Q19</td>
            <td>How frequently does your interest in daily activities fluctuate?</td>
          </tr>
          <tr>
            <td>Q20</td>
            <td>How often do you have issues regarding sleep?</td>
          </tr>
        </tbody>
    </table>
      
    <br>
    <table>
        <thead>
          <tr>
            <th>User_ID</th>
            <th>Timestamp</th>
            <th>Age</th>
            <th>Gender</th>
            <th>Relationship_Status</th>
            <th>Occupation_Status</th>
            <th>Social_Media_User</th>
            <th>Region</th>
            <th>Daily_Time_Spent</th>
            <th>Q9</th>
            <th>Q10</th>
            <th>Q11</th>
            <th>Q12</th>
            <th>Q13</th>
            <th>Q14</th>
            <th>Q15</th>
            <th>Q16</th>
            <th>Q17</th>
            <th>Q18</th>
            <th>Q19</th>
            <th>Q20</th>
          </tr>
        </thead>
        <tbody>
          <% data.forEach(item => { %>
            <tr>
              <td><a href="/admin/data/<%= item.user_id %>"><%= item.user_id %></a></td>
              <td><%= item.timestamp %></td>
              <td><%= item.age %></td>
              <td><%= item.gender %></td>
              <td><%= item.relationship_status %></td>
              <td><%= item.occupation_status %></td>
              <td><%= item.social_media_user %></td>
              <td><%= item.region %></td>
              <td><%= item.daily_social_media_time %></td>
              <td><%= item.use_without_purpose %></td>
              <td><%= item.use_while_busy %></td>
              <td><%= item.restlessness_from_withdrawal %></td>
              <td><%= item.easily_distracted %></td>
              <td><%= item.bothered_by_worries %></td>
              <td><%= item.difficult_to_concentrate %></td>
              <td><%= item.compare_with_successful_people %></td>
              <td><%= item.feelings_toward_comparisons %></td>
              <td><%= item.seek_validation %></td>
              <td><%= item.feelings_of_depression %></td>
              <td><%= item.fluctuation_of_interest_in_activities %></td>
              <td><%= item.sleep_issue_frequency %></td>
            </tr>
          <% }); %>
        </tbody>
      </table>
      <footer>
        <div class="footer-content">
            <div class="footer-logo">
                <img src="images/smumhnav.png" alt="Footer Logo">
            </div>
            <div class="footer-nav">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/learn">Learn</a></li>
                    <li><a href="/resources">Resources</a></li>
                    <li><a href="/survey">Survey</a></li>
                  <% if (user_id) { %>
                    <li><a class="link" href="/account">Account</a></li>
                    <li><a class="link" href="/survey-data">Data</a></li>
                  <% } else { %>
                    <li><a class="link" href="/login">Login</a></li>
                  <% } %>
                </ul>
            </div>
        </div>
        <div class="footer-info">
            <p><a href="https://www.instagram.com/smu_mh/">@smu_mh</a></p>
            <p>&copy; 2023 Your Website. All rights reserved.</p>
            <p>Designed by BYUIS3.9</p>
        </div>
    </footer>
</body>
</html>