<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Provo City's Social Media Usage and Mental Health Committee website provides a way for Provo City Council to gather data on mental health in relation to social media usage in Provo City.">
    <meta name="abstract" content="Provo City's Social Media Usage and Mental Health Committee website provides a way for Provo City Council to gather data on mental health in relation to social media usage in Provo City.">
    <meta name="geo.placename" content="Brigham Young University">
    <meta name="geo.region" content="'US-UT">
    <link rel="stylesheet" href="/styles.css">
    <!--favicon not working-->
    <link rel="icon" href="/static/images/favicon.png" type="image/x-icon">
    <title>SMU & MH - Data</title>
  </head>
<body>
  <nav>
    <div class="menu">
      <ul>
        <li><a class="provo" href="https://www.provo.org/government"><img src='images/provologo.png'></a></li>
        <div class="separator"></div>
        <li><a class="navlogo" href="/"><img src='images/navlogo.png'></a></li>
        <li><a class="link" href="/about">About</a></li>
        <li><a class="link" href="/learn">Learn</a></li>
        <li><a class="link" href="/resources">Resources</a></li>
        <li><a class="link" href="/survey">Survey</a></li>
        <% if (user_id) { %>
          <li><a class="link" href="/account">Account</a></li>
          <li><a class="link" href="/data">Data</a></li>
        <% } else { %>
          <li><a class="link" href="/login">Login</a></li>
        <% } %>
      </ul>
    </div>
  </nav>
  </main>
    <a href="/data">Data</a>
    <table>
        <thead>
          <tr>
            <th>User_ID</th>
            <th>Timestamp</th>
            <th>Age</th>
            <th>Gender</th>
            <th>Relationship_Status</th>
            <th>Occupation_Status</th>
            <th>Social_Media_User</th>
            <th>Region</th>
            <th>Daily_Time_Spent</th>
            <th>Use_Without_Purpose</th>
            <th>Use_While_Busy</th>
            <th>Restlessness_From_Withdrawal</th>
            <th>Easily_Distracted</th>
            <th>Bothered_by_Worries</th>
            <th>Difficult_to_Concentrate</th>
            <th>Compare_with_Successful_People</th>
            <th>Feelings_Toward_Comparisons</th>
            <th>Seek_Validation</th>
            <th>Feelings_of_Depression</th>
            <th>Fluctuation_of_Interest_in_Activities</th>
            <th>Sleep_Issue_Frequency</th>
          </tr>
        </thead>
        <tbody>
          <% data.forEach(item => { %>
            <tr>
              <td><%= item.user_id %></td>
              <td><%= item.timestamp %></td>
              <td><%= item.age %></td>
              <td><%= item.gender %></td>
              <td><%= item.relationship_status %></td>
              <td><%= item.occupation_status %></td>
              <td><%= item.social_media_user %></td>
              <td><%= item.region %></td>
              <td><%= item.daily_time_spent %></td>
              <td><%= item.use_without_purpose %></td>
              <td><%= item.use_while_busy %></td>
              <td><%= item.restlessness_from_withdrawal %></td>
              <td><%= item.easily_distracted %></td>
              <td><%= item.bothered_by_worries %></td>
              <td><%= item.difficult_to_concentrate %></td>
              <td><%= item.compare_with_successful_people %></td>
              <td><%= item.feelings_toward_comparisons %></td>
              <td><%= item.seek_validation %></td>
              <td><%= item.feelings_of_depression %></td>
              <td><%= item.fluctuation_of_interest_in_activities %></td>
              <td><%= item.sleep_issue_frequency %></td>
            </tr>
          <% }); %>
        </tbody>
      </table>
      </main>
      <footer>
        <div class="footer-content">
            <div class="footer-logo">
                <img src="images/smumhnav.png" alt="Footer Logo">
            </div>
            <div class="footer-nav">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/learn">Learn</a></li>
                    <li><a href="/resources">Resources</a></li>
                    <li><a href="/survey">Survey</a></li>
                  <% if (user_id) { %>
                    <li><a class="link" href="/account">Account</a></li>
                    <li><a class="link" href="/data">Data</a></li>
                  <% } else { %>
                    <li><a class="link" href="/login">Login</a></li>
                  <% } %>
                </ul>
            </div>
        </div>
        <div class="footer-info">
            <p><a href="https://www.instagram.com/smu_mh/">@smu_mh</a></p>
            <p>&copy; 2023 Your Website. All rights reserved.</p>
            <p>Designed by BYUIS3.9</p>
        </div>
    </footer>
</body>
</html>